:host {
  position: relative;
  display: block;
  width: 100%;

  @media screen and (min-width: 640px) {
    height: 100%;
    overflow: hidden;
  }

  --app-drawer-width: 72px;
}

.container {
  @media screen and (min-width: 640px) {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }

  @media screen and (max-width: 899px) {
    padding: 0 calc(var(--ha-card-border-radius) / 2);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.column {
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow-y: auto;
  padding: var(--masonry-view-card-margin);
  transition: opacity .5s ease-in-out;

  @media screen and (min-width: 640px) {
    max-height: 100%;

    @media screen and (max-width: 899px) {
      width: calc((100vw - var(--ha-card-border-radius) - var(--app-drawer-width)) / 2);
    }
  }

  @media screen and (min-width: 900px) {
    width: calc((100vw - var(--app-drawer-width)) / 3);
  }

  &.shady {
    opacity: .4;
  }
}

.shadow,
.column-0,
.column-x {
  @media screen and (max-width: 899px) {
    width: 0;
  }

  @media screen and (min-width: 900px) {
    width: calc((100vw - var(--app-drawer-width)) / 6);
  }
}

.column-0,
.column-x {
  flex-grow: 1;
  flex-shrink: 0;

  @media screen and (min-width: 900px) {
    height: 10px;
  }
}

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: .8;

  &__left {
    left: 0;

    @media screen and (min-width: 900px) {
      background-image: linear-gradient(90deg, var(--primary-background-color) 20%, transparent 100%);
    }
  }

  &__right {
    right: 0;

    @media screen and (min-width: 900px) {
      background-image: linear-gradient(90deg, transparent 0%, var(--primary-background-color) 80%);
    }
  }
}
